.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 5px solid #0ccef5;
}
.navbar h1{
  text-align: left;
  margin:0 25px 0 0;
  font-size: 55px;
  color: rgb(68, 181, 251);
}
.navbar .links {
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  color: black;
}
.navbar a:hover{
  color:rgb(38, 38, 178);
  text-decoration:underline;
  text-decoration-color: blue;
}
.Lists{
  top: 120px;
  text-align: center;
}
.listing{
  text-align: center;
  font-size: 29px;
  padding: 15px 16px;
   margin: 0 auto;
}
.listing input{
  top:0;
  left: 0;
  height:23px;
  width: 25px;

}
.create{
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
.create label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  display: block;
}
.create input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(147, 209, 248);
  box-sizing: border-box;
  display: block;
}
.Lists button{
  text-align: left;
}